* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Manrope", sans-serif;
  color: white;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  background-image: url(./components/pexels-johannes-plenio-1118873.jpg);
}

main {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.humidity {
  display: flex;
  align-items: center;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-side-container {
  backdrop-filter: blur(70px);
  width: 25%;
}
.right-side {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 10rem;
}
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.left-side,
.right-side {
  padding: 2rem;
}
.weather-tab {
  display: none;
  flex-direction: column;
  gap: 5rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 1rem;
}
.city-name {
  font-size: 3rem;
}
.temp {
  font-size: 6rem;
}
.weather-type {
  font-size: 2rem;
}
.left-side-container {
  display: none;
  align-items: center;
  gap: 1rem;
}

.city-input {
  border: none;
  outline: none;
  background: white;
  padding: 1rem 1.5rem;
  width: 100%;
  transition: 0.7s;
  border-radius: 3%;
}
.additional {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
